.DS_Store
node_modules
*.sublime-project
*.sublime-workspace
test/projects/Harness
test/projects/TiAppCopy
TODO
test/apps/testing
npm-debug.log
Jenkinsfile
TEST-*.xml

.github
.dependabot

samples
test
templates

platforms/ios/project
platforms/android/project